; vim: ft=gitconfig noet ts=4 sts=4
[user]
	name = 71e6fd52
	email = 71e6fd52@gmail.com
	signingkey = F93694419FD39342
[alias]
	st = status
	ci = commit -m
	last = log -1
	co = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ps = push --verbose
	pl = pull --verbose
[push]
	default = simple
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
[init]
	defaultBranch = master
