[submodule "opt/zsh-sudo"]
	path = opt/zsh-sudo
	url = https://github.com/hcgraf/zsh-sudo.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/redguardtoo/emacs.d.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
